<section class="intro-section p-3">
    <div class="container">
        <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h1>Welcome to {{ appTitle }}</h1>
            <p class="lead">Easily shorten long URLs and share them with ease!</p>
            <p>{{ appTitle }} allows you to quickly generate shortened URLs for any long link. Whether you're sharing links on social media, in emails, or on your website, our tool makes it simple to create short, memorable URLs that redirect users to the original destination.</p>
            <p>Get started now by shortening your first URL!</p>
            <a href="#" class="btn btn-primary">Shorten URL</a>
        </div>
        </div>
    </div>
</section>
  